:root {
  --primary-color: #369;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --light-grey: #d3d3d3;
  --white: #fff;
  --visited-color: #05676e;
  --active-color: #489c79;
  --button-border-bottom-color: rgba(0, 0, 0, 0.3);
  --sun-animation-0: #edc655;
  --sun-animation-50: #fcffad;
  --sun-animation-100: #f76414;
  --bold: 700;
  --standard: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--standard);
  font-size: 16px;
  line-height: 1.6;
}

div {
  padding: 5px;
  margin: 5px;
}

h1 {
  color: var(--light-grey);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* gives button a botom border with width 2px, type solid, and color in RGBA format; RGBA to allow Alpha channel to regulate transparency; 1 is totally opaque, 0 is totally transparent */
  border-bottom: 2px solid var(--button-border-bottom-color);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering */
  cursor: pointer;
  opacity: 0.8;
}

li {
  margin: 10px;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

.pokemon-button {
  font-size: 18px;
  width: 100%;
}

.page-header {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  padding: 10px 30px;
  align-items: left;
}

.pokemon-list-section {
  margin: auto;
  max-width: 300px;
}
